<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {% load static %}
    {% load bootstrap5 %}
    <title>{% block title %}Photo Service{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="{% static 'images/rainbow.png' %}" sizes="32x32"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.css' %}">
    <script src="{% static 'js/bootstrap5.js' %}"></script>
    <script src="{% static 'js/photo.js' %}"></script>
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning mb-4">
            <div class="container-fluid">
                <a class="btn btn-primary btn-block px-2 " href="{% url 'newpostpage' %}">new post</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-1">
                        <!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">mySpace</a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                tools
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">your posts</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">support</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex p-1">
                        <input class="form-control me-2" type="search" placeholder="photo tag" aria-label="photo tag">
                        <button class="btn btn-outline-primary" type="submit">search</button>
                    </form>
                    <a class="btn btn-primary btn-block" href="{% url 'logoutpage' %}">logout</a>
                </div>
            </div>
        </nav>

        <!-- all photo -->
        <div class="container">
            <div class="gallery" id="gallery">
            {% for post in photo %}
                <div class="gallery-item">
                    <div class="content">
                        <a href="">
                            <img src="{{ post.img.url }}" alt="{{ post.title }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>